/*** MODAL ***/

#overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -moz-opacity: 0.75;
  opacity: .75;
  filter: alpha(opacity=75);
}
  
#modal {
  width: 600px;
  max-width: 80vw;
  max-height: 80vh;
  background-color: #fff;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 1001;
  -webkit-box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.75);
}
  
#modal-close {
  width: 30px;
  height: 30px;
  color: #fff;
  background: #555;
  font-family: lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
}

#modal-content {
  text-align: center;
}

.newsletter-modal-image img {
  max-width: 100%;
}

.newsletter-modal-heading,
.newsletter-modal-text,
.newsletter-modal-form {
  padding: 0 20px;
}

.newsletter-modal-heading h2 {
  margin: 10px 0 0 0;
}

.newsletter-modal-text p {
  margin-top: 0;
}

.newsletter-modal-form {
  height: 46px;
  margin-bottom: 40px;
}

.newsletter-modal-form-iput {
  margin: 0 auto;
}

#modal .newsletter-form__button {
  width: 45px;
  height: 45px;
  background: #0268a0;
  color: #fff;
}